<h1 class="display-4">My Articles-Base</h1>
<p class="mb-4">Here's my SailsJS app.</p>
<a href="/articles/list" class="btn btn-light">View articles</a>
<a href="/articles/add" class="btn btn-light">Add articles</a>